.suggestion-box {
  margin-top: 6em;
  .introducation {
    margin-bottom: 3em;
    h2 {
      text-align: center;
    }
  }
  .suggestions {
    .arrow-video {
      width: 20px;
      position: absolute;
    }
    h3 {
      font-weight: bold;
      margin-left: 2em;
      // &:before {
      //   content:url('/img/arrow.png');
      //   padding-right: .5em;
      // }
    }
  }

  .counter-div {
    width: 6em;
    &:hover {
      background-color: $primaryColorOrange;
      color: white;
    }
  }

  // .counter-before button:active, button:visited {
  //   background-color: $primaryColorOrange;
  //   display: none;
  // }

  .counter-before {
    &:after {
      content: '877';
      padding-right: .5em;
    }
    &:active, &:visited, &:focus{
      background-color: $primaryColorOrange;
      outline: none;
      &:after {
        content: '878';
        padding-right: .5em;
      }
    }
  }

  .counter button {
    border: 2px solid $primaryColorOrange;
    width: 6em;
    text-align: center;
    color: $primaryColorOrange;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    &:hover, &:active, &:visited, &:focus {
     color: white;
     background-color: $primaryColorOrange;
    }

    &:before {
      content:url('/img/heart3.png');
      padding-right: .5em;
    }

  }
  .forms {
    .text {
      margin-top: 2em;
      text-align: center;
    }
    .send-box {
      text-align: center;
      width: 12em;
      border: 2px solid $primaryColorOrange;
      cursor: pointer;
      margin: 0 auto;
      margin-top: 1em;
      .send {
        font-weight: bold;
        color: $primaryColorOrange;
        margin-bottom: 0;
        &:hover {
          color: white;
          background-color: $primaryColorOrange;
        }
      }
    }
  }
}
