$primaryColorOrange: #eb6c44;
$primaryColorLightGrey: #ccc;
$textColorDark: #1A1A1A;
$textColorLight: #808080;

body {
  background: white;
}

h1 {
  font-family: 'Avenir', sans-serif;
  font-size: 50px;
  line-height: 50pt;
  letter-spacing: 3pt;
}

h2 {
  font-family: 'Avenir', sans-serif;
  font-size: 36px;
  line-height: 30pt;
  letter-spacing: 3pt;
  color: $textColorDark;
}

h3 {
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1pt;
  color: $textColorDark;
  font-weight: normal;
}

p {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  color: $textColorLight;
  line-height: 26px;
}

.navbar {
  font-family: 'Avenir', sans-serif;
}

@media only screen and (min-width: 760px) {
  // Meny
  .bg-faded .navbar-nav {
    background-color: $primaryColorOrange !important;
  }

  .navbar .menu-icon {
    position: relative !important;
  }

  .nav-link {
    border-bottom: 0 !important;
    text-align: left !important;
    .dropdown-menu {
      padding-left: 1.2em !important;
    }
  }
  .bg-faded .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link {
    color: white;

  }
  .navbar-light .navbar-nav .active {
    // border-bottom: 1px solid white;
  }

  .dropdown-menu {
    background-color: $primaryColorOrange;
    padding-left: 1.2em;
  }

  .curve {
    height: 100px;
    background-color: white;
    clip-path: ellipse(70% 70% at 50% 70%);
    margin-top: -100px;
  }

  .hero {
    margin-top: -150px !important;
  }

  .curve-reverse {
    height: 100px;
    clip-path: polygon(50% 0, 100% 4%, 100% 100%, 48% 95%, 0 100%, 0 4%);
  }

  // Hero

  .hero-module {
    position: relative;
    overflow: hidden;
    max-height: 800px;
    min-height: 800px;
    .danny {
      width: 100%;
      position: absolute;
    }
    .title-hero {
      position: absolute;
      width: 40%;
      bottom: 0;
      margin-bottom: 15%;
      margin-left: 15%;
      color: white;
    }
    .social-media-holder{
      margin-top: 3em;
      margin-right: 5em;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      .social {
        width: 15em;
        margin-top: 2em;
      }
    }
  }

  .hero-image {
    position: absolute;
  }
  .hero-row {
    position: absolute;
    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        img {
          width: 150px !important;
        }
      }
    }
  }

  // Image seperator
  .wireframes{
    display: flex;
    justify-content: center;
    img {
      margin: 4em;
    }
  }

  .horse {
    width: 100%;
    margin-top: 6em;
     img {
       width: 100%;
     }
  }

  // Description
  .description-module {
    margin: 0 auto !important;
    .description {
      width: 80%;
      margin: 0 auto;
      h2 {
        width: 100%;
      }
      p {
        text-align: left;
        line-height: 30px;
      }
      .app-links {
        display: flex;
        margin: 0 auto;
        a {
          img {
            width: 90%;
          }
        }
      }
    }
  }

  // Selling points
  .selling-points-module {
    margin: 0 auto !important;
  }

  // Footer


  .row .logo {
    width: 200px;
    height: 100%;
    img {
      width: 300px;
      margin-left: 3em;
      margin-bottom: -1em;
    }
  }

  .row .info {
    text-align: center;
      margin-bottom: 2em;
    p {
      color: white;
    }
  }

  .row .social-media {
    height: 100%;
    width: 30%;
    float: right;
    img {
      margin-right: 1.2em !important;
    }
    .terms {
      position: absolute;
      margin-top: 4em;
      margin-right: 2em;
      width: 9em;
      p {
        color: white;
      }
    }
  }

}

// Menu
.navbar{
  padding: 0px !important;
  padding-left: 10px;
  button {
    border: none;
    padding-top: 0.4em;
    filter: invert(100%) contrast(100%);
    &:focus {
      outline: 0em;
    }
  }
  .navbar-brand {
    padding: 0.5em;
    color: white;
    text-align: center;
    img {
      width: 180px;
    }
  }
  .menu-icon {
    width: 40px;
    overflow: hidden;
    position: absolute;
    display: flex;
    margin: 0.3em;
    margin-left: 1em;
  }
}
.bg-faded {
  background-color: $primaryColorOrange;
  z-index: 2;
  .navbar-nav {
    background-color: white;
    .nav-link {
      border-bottom: 1px solid $primaryColorLightGrey;
      text-align: center;
      padding-right: 1em;
      padding-left: 1em;
    }
    .nav-item {
      .dropdown-menu {
        border-radius: 0;
        border: 0;
        margin: 0;
        padding: .1rem 0;
        padding-left: 1.2em;

        li {
          cursor: pointer;
        }
      }
    }
  }
}

// Meny testing
.overlay {
  position:absolute;
  z-index: 2;
	overflow: hidden;
	width: 100%;
	height: 270px;
}
.overlay::after {
	content: "";
	position: absolute;
	width: 300%;
	height: 300%;
	top: -25%;
	left: -100%;
	// background: radial-gradient(ellipse at center, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 50%,rgba(255,0,0,1) 50%,rgba(255,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 50%,$primaryColorOrange 50%,$primaryColorOrange 100%);
}

// Hero

.hero-image {
  width: 100%;
}
// .hero-module {
//   background-image: url('/img/danny_cropped.jpg');
//   height: 100vh;
//   background-size: cover;
//   .hero-row {
//     display: flex;
//     align-items: center;
//     position: absolute;
//     height: 100%;
//     margin-left: 2em;
//     margin-right: 2em;
//     h1 {
//       color: white;
//       margin-bottom: 1.4em;
//     }
//     .app-links {
//       a {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         img {
//         width: 60%;
//         margin-bottom: .3em;
//         }
//       }
//     }
//   }
// }

// Selling point
.selling-points-module {
  margin: 1em;
  .selling-point {
    margin-top: 1em;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

// Image seperator
.image-seperator-module {
  margin-top: 2em;
  margin-bottom: 1em;
  img {
    width: 100%;
  }
}

// Quotes
.quotes-module {
  .quotes {
    margin-top: 1em;
    text-align: center;
    .quote {
      margin-top: 2em;
      .name {
        margin-bottom: 0;
        margin-top: 1em !important;
        color: $primaryColorOrange;
      }
    }
  }
}

// Description
.description-module {
  margin: 1em;
  .description {
    text-align: center;
    h2 {
      margin-left: 1.5em;
      margin-right: 1.5em;
      margin-bottom: 1em;
    }
    img {
    width: 60%;
    margin-bottom: .3em;
    margin-top: 1em;
    }
  }
}


// Footer
.footer {
  background-color: $primaryColorOrange;
  height: 200px;
  margin-top: 4em;
  clip-path: ellipse(70% 70% at 50% 70%);
  display: flex;
  align-items: flex-end;
  position: relative;
  .row {
    display: flex;
    align-items: baseline;
    width: 100%;
    .social-media {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      img {
        width: 60px;
        margin: .5em;
        margin-bottom: 0em;
      }
    }
  }

}

@import 'styles/faq';
@import 'styles/hiring';
@import 'styles/suggestion-box';
